@import "tailwindcss";

@font-face {
    font-family: 'SerpentineDBol';
    src: url('/fonts/serpentine-bold.woff2') format('woff2'),
    url('/fonts/serpentine-bold.woff') format('woff'),
    url('/fonts/serpentine-bold.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@theme {
    --color-primary: #D71003;
    --color-secondary: #FFC300;

    --font-brand: SerpentineDBol, Impact;
    --font-sans: "DM Sans Variable", sans-serif;
}

@layer base {

    body {
        @apply text-neutral-900 bg-white;
    }

    button[type="submit"] {
        @apply text-neutral-900 bg-secondary py-5 border-b-5 border-b-primary font-bold rounded-xl mb-10;

        &:active {
            @apply translate-y-1.25 border-b-0 border-t-5 border-t-white;
        }
    }
}

@layer components {
    input, select, textarea {
        @apply rounded-md w-full block border border-neutral-300 text-xl p-4;
    }

    input, select {
        @apply border-l-secondary border-l-5;
    }

    label span {
       @apply text-red-700
    }
}
